body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-7SATdcWpnN9XSVEhfs9RgIa9e4KJGnkPmUmpjWvW1itSXM_n&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: wrap;
    
  }
a {
    background-color: red;
}
ol {
    background-color: rgb(82, 82, 248);
    display: table-row;
}